/* Glonal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  z-index: -1;
  font-family: 'Patua One', cursive;
  color: white;
}

.container-week-button {
  display: flex;
  justify-content: center;
}

/* Style for View Splash */

.margin{
  margin: 0px;
}

.icon{
  display: flex;
  flex-direction: row;

}

.icon i{
  font-size: 10rem;
}

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
  background-color:#5bc0de;
  text-align: center;
}

img[alt="gif" ]{
  width: 20vw;
  height: 20vh;
}

/* Style for Index */

.text-white{
  color:white;
}

button{
  margin-top: 10rem;
  padding: 5rem;
}

/* Style for View Prediction */

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

#img-principal{
  width: 150px;
  height: 150px;
  margin-top: 8rem;
}

.img-days{
  width: 30px;
  height: 30px;
  margin-left: 40px;
}

.container {
  height: 100%;
}

.navbar-container text-white {
  color: #fff;
}

.text-white-header {
  color: #fff;
  margin: 0;
}

.temperature{
  margin-top: 10rem;
}

.imagen{
  background-image: url(../assets/img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.logo{
  margin-bottom: 15rem;
}
.principal{
  margin-bottom: 0px;
}

@media (min-width: 992px){
  .imagen{
    background-image: url(../assets/img/fondo4.jpg);
    color: black;
  }

  #img-principal{
    margin-left: 10rem;
  }
  .imagen p{
    color: black;
}
