/* Glonal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  z-index: -1;
  font-family: 'Patua One', cursive;
  color: white;
  background-color: gray;
}

.container-week-button {
  display: flex;
  justify-content: center;
}

/* Style for View Splash */

.margin{
  margin: 0px;
}

.icon{
  display: flex;
  flex-direction: row;

}

.icon i{
  font-size: 10rem;
}

.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color:#5bc0de;
}

img[alt="gif" ]{
  width: 20vw;
  height: 20vh;
}

/* Style for Index */

.text-white{
  color:white;
}

button{
  margin-top: 10rem;
  padding: 5rem;
}

/* Style for View Prediction */

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

#img-principal{
  width: 150px;
  height: 150px;
}

.img-days{
  width: 30px;
  height: 30px;
  margin-left: 40px;
}

.container {
  height: 100%;
}

.navbar-container text-white {
  color: #fff;
} 

.text-white-header {
  color: #fff;
  margin: 0;
}