body{
  font-family: 'Patua One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.margin{
  margin: 0px;
}
.icon{
  display: flex;
  flex-direction: row;

}
.icon i{

  font-size: 10rem;
}
.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color:#5bc0de;
}

img[alt="gif" ]{
  width: 20vw;
  height: 20vh;
}
.line{
  outline: 1px solid red;
}

body{
  background-image: url(../assets/img/paisaje.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.imagen:before{
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #413226;
  position:absolute;
  opacity: 0.5;
}

.text-white{
  color:white;
}

button{
  margin-top: 10rem;
  padding: 5rem;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}

#img-principal{
  width: 150px;
  height: 150px;
}

.img-days{
  width: 30px;
  height: 30px;
  margin-left: 40px;
}

#container-days{
  padding-top: 20px;
}
